In [2]:
import pandas as pd
import numpy as py
import seaborn as sns
import os
from api_keys import geoapify_key

In [4]:
base_url = "https://api.geoapify.com/v1/geocode/search"
params = {
    "apiKey":geoapify_key,
    "format":"json"
}

In [5]:
safety_dataset_cleaning_df = pd.read_csv('../Datasets/safety.csv')
safety_dataset_cleaning_df.head()

,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,3.095,3.191,3.040,3.021,3.154,3.258,3.212,3.316,3.362,3.412,3.513,3.520,3.592,3.600,3.554
1,Albania,ALB,1.806,1.779,1.770,1.797,1.799,1.816,1.810,1.806,1.761,1.774,1.714,1.712,1.771,1.769,1.761
2,Algeria,DZA,2.306,2.333,2.333,2.479,2.399,2.383,2.293,2.263,2.238,2.206,2.212,2.235,2.234,2.258,2.146
3,Angola,AGO,2.062,2.066,2.006,2.049,2.087,2.089,2.062,1.957,1.974,1.938,1.972,1.955,1.989,2.025,1.982
4,Argentina,ARG,1.818,1.946,1.947,1.909,1.872,2.001,1.905,1.984,1.981,1.936,1.914,1.978,1.948,1.931,1.911

In [6]:
#check for null values or empty cells
null_values = safety_dataset_cleaning_df.isnull().any()

In [7]:
#drop null values or empty cells
safety_dataset_cleaning_df.dropna()

,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,3.095,3.191,3.040,3.021,3.154,3.258,3.212,3.316,3.362,3.412,3.513,3.520,3.592,3.600,3.554
1,Albania,ALB,1.806,1.779,1.770,1.797,1.799,1.816,1.810,1.806,1.761,1.774,1.714,1.712,1.771,1.769,1.761
2,Algeria,DZA,2.306,2.333,2.333,2.479,2.399,2.383,2.293,2.263,2.238,2.206,2.212,2.235,2.234,2.258,2.146
3,Angola,AGO,2.062,2.066,2.006,2.049,2.087,2.089,2.062,1.957,1.974,1.938,1.972,1.955,1.989,2.025,1.982
4,Argentina,ARG,1.818,1.946,1.947,1.909,1.872,2.001,1.905,1.984,1.981,1.936,1.914,1.978,1.948,1.931,1.911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Venezuela,VEN,2.313,2.359,2.364,2.337,2.284,2.256,2.333,2.448,2.515,2.525,2.574,2.673,2.848,2.878,2.798
159,Vietnam,VNM,1.832,1.846,1.870,1.860,1.923,1.871,1.832,1.932,1.871,1.882,1.895,1.895,1.952,1.817,1.786
160,Yemen,YEM,2.407,2.474,2.562,2.565,2.609,2.547,2.611,2.738,2.974,3.112,3.106,3.211,3.259,3.342,3.394
161,Zambia,ZMB,1.843,1.834,1.827,1.730,1.814,1.728,1.810,1.816,1.782,1.773,1.787,1.768,1.788,1.915,1.841
162,Zimbabwe,ZWE,2.376,2.660,2.732,2.660,2.422,2.395,2.260,2.162,2.146,2.165,2.198,2.315,2.302,2.381,2.350

In [8]:
safety_dataset_cleaning_df.count()

Country    163
iso3c      163
2008       163
2009       163
2010       163
2011       163
2012       163
2013       163
2014       163
2015       163
2016       163
2017       163
2018       163
2019       163
2020       163
2021       163
2022       163
dtype: int64

In [9]:
#Save the cleaned dataset to a new csv file
safety_dataset_cleaning_df.to_csv('../Datasets/safety_data_cleaned.csv', index=False)

In [10]:
#Sorting by time period
#2022
safety_dataset_cleaning_df = safety_dataset_cleaning_df.sort_values(['2022'])
safety_dataset_cleaning_df

,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
62,Iceland,ISL,1.139,1.151,1.133,1.125,1.182,1.181,1.175,1.153,1.152,1.097,1.112,1.094,1.104,1.146,1.107
101,New Zealand,NZL,1.294,1.300,1.312,1.311,1.325,1.335,1.318,1.291,1.269,1.278,1.234,1.285,1.279,1.284,1.269
67,Ireland,IRL,1.397,1.453,1.437,1.452,1.409,1.395,1.369,1.382,1.381,1.375,1.332,1.326,1.357,1.307,1.288
37,Denmark,DNK,1.286,1.285,1.352,1.304,1.258,1.219,1.198,1.219,1.209,1.310,1.302,1.288,1.306,1.293,1.296
7,Austria,AUT,1.347,1.365,1.357,1.395,1.364,1.283,1.265,1.233,1.220,1.298,1.263,1.249,1.251,1.318,1.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,South Sudan,SSD,0.000,0.000,0.000,2.345,2.315,2.567,3.049,3.266,3.299,3.239,3.289,3.280,3.287,3.248,3.184
121,Russia,RUS,2.919,3.001,3.054,2.940,2.929,2.935,3.043,3.065,3.006,2.975,3.063,3.099,3.056,3.038,3.275
139,Syria,SYR,2.154,2.222,2.292,2.305,2.634,2.989,3.278,3.359,3.362,3.405,3.381,3.331,3.334,3.296,3.356
160,Yemen,YEM,2.407,2.474,2.562,2.565,2.609,2.547,2.611,2.738,2.974,3.112,3.106,3.211,3.259,3.342,3.394
0,Afghanistan,AFG,3.095,3.191,3.040,3.021,3.154,3.258,3.212,3.316,3.362,3.412,3.513,3.520,3.592,3.600,3.554

In [11]:
#2010
safety_dataset_cleaning_df = safety_dataset_cleaning_df.sort_values(['2010'])
safety_dataset_cleaning_df

,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
110,Palestine,PSE,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.789,2.744,2.623,2.604,2.607,2.520,2.552
133,South Sudan,SSD,0.000,0.000,0.000,2.345,2.315,2.567,3.049,3.266,3.299,3.239,3.289,3.280,3.287,3.248,3.184
62,Iceland,ISL,1.139,1.151,1.133,1.125,1.182,1.181,1.175,1.153,1.152,1.097,1.112,1.094,1.104,1.146,1.107
101,New Zealand,NZL,1.294,1.300,1.312,1.311,1.325,1.335,1.318,1.291,1.269,1.278,1.234,1.285,1.279,1.284,1.269
129,Slovenia,SVN,1.348,1.347,1.347,1.344,1.386,1.376,1.370,1.354,1.321,1.313,1.330,1.293,1.312,1.295,1.316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Sudan,SDN,3.022,3.016,3.041,3.102,3.117,3.128,3.182,3.130,3.096,3.062,3.038,2.866,2.941,2.908,3.007
121,Russia,RUS,2.919,3.001,3.054,2.940,2.929,2.935,3.043,3.065,3.006,2.975,3.063,3.099,3.056,3.038,3.275
109,Pakistan,PAK,2.870,3.066,3.101,3.111,3.126,3.194,3.128,3.097,3.086,3.011,2.929,2.891,2.842,2.827,2.789
130,Somalia,SOM,3.153,3.237,3.300,3.157,3.228,3.184,3.171,3.133,3.156,3.103,3.134,3.054,3.128,3.181,3.125
66,Iraq,IRQ,3.510,3.460,3.421,3.193,3.085,3.077,3.054,3.238,3.394,3.421,3.312,3.249,3.398,3.231,3.157

In [12]:
#Calculate change from 2010 to 2022
safety_dataset_cleaning_df["change"] = safety_dataset_cleaning_df['2022']-safety_dataset_cleaning_df['2010']
safety_dataset_cleaning_df["change"]

110    2.552
133    3.184
62    -0.026
101   -0.043
129   -0.031
       ...
136   -0.034
121    0.221
109   -0.312
130   -0.175
66    -0.264
Name: change, Length: 163, dtype: float64

In [13]:
# calculate growth rate for 10 years
safety_dataset_cleaning_df['growth_rate'] = safety_dataset_cleaning_df['change'].pct_change() * 100
safety_dataset_cleaning_df['growth_rate'].dropna()

133     24.764890
62    -100.816583
101     65.384615
129    -27.906977
37      80.645161
          ...
136   -106.614786
121   -750.000000
109   -241.176471
130    -43.910256
66      50.857143
Name: growth_rate, Length: 162, dtype: float64