In [7]:
import pandas as pd

from api_keys import geoapify_key

In [9]:
world_data_df = pd.read_csv('world_population.csv')

world_data_df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [ ]:
base_url = "https://api.geoapify.com/v1/geocode/search"
params = {
    "apiKey":geoapify_key,
    "format":"json"
}

Definition of Variables
The full dataset contains the following variables:

Variable	Description

BLcode	Barro-Lee Country Code

WBcode	Three-letter Country Code

region_code	Region Classification

country	Country Name

year	Year

sex	Sex

agefrom	Starting Age

ageto	Finishing Age

lu	Percentage of No Schooling Attained in Pop.

lp	Percentage of Primary Schooling Attained in Pop.

lpc	Percentage of Complete Primary Schooling Attained in Pop.

ls	Percentage of Secondary Schooling Attained in Pop.

lsc	Percentage of Complete Secondary Schooling Attained in Pop.

lh	Percentage of Tertiary Schooling Attained in Pop.

lhc	Percentage of Complete Tertiary Schooling Attained in Pop.

yr_sch	Average Years of Schooling Attained

yr_sch_pri	Average Years of Primary Schooling Attained

yr_sch_sec	Average Years of Secondary Schooling Attained

yr_sch_ter	Average Years of Tertirary Schooling Attained

pop	Population (1000s)

pop15	Total Population over 15 (1000s)

pop25	Total Population over 25 (1000s)

In [24]:
education_df = pd.read_csv('education.csv')
education_df.head()
education_df['year'].min()

#Correlation between population growth versus education attainment -- 

byyear = education_df.groupby(['country', 'year']).mean()
byyear

C:\Users\seana\AppData\Local\Temp\ipykernel_23872\4284190218.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  byyear = education_df.groupby(['country', 'year']).mean()

                  BLcode  agefrom  ageto      lu      lp     lpc      ls  \
country     year
Afghanistan 1950    79.0     35.0   44.0  96.094   3.260   0.514   0.200
            1955    79.0     35.0   44.0  95.574   3.618   0.578   0.266
            1960    79.0     35.0   44.0  94.798   4.152   0.654   0.344
            1965    79.0     35.0   44.0  93.810   4.804   0.298   0.488
            1970    79.0     35.0   44.0  91.518   5.966   0.444   0.970
...                  ...      ...    ...     ...     ...     ...     ...
Zimbabwe    1995    47.0     35.0   44.0  14.884  48.594  21.314  33.720
            2000    47.0     35.0   44.0  11.844  44.214  21.016  42.486
            2005    47.0     35.0   44.0   9.498  41.660  21.946  47.576
            2010    47.0     35.0   44.0   7.096  40.220  23.972  51.470
            2015    47.0     35.0   44.0   6.824  36.310  20.414  46.070

                     lsc      lh    lhc  yr_sch  yr_sch_pri  yr_sch_sec  \
country     year
Afghanistan 1950   0.080   0.450  0.208  0.2006      0.1522      0.0352
            1955   0.106   0.542  0.268  0.2342      0.1744      0.0438
            1960   0.142   0.704  0.350  0.2850      0.2072      0.0570
            1965   0.186   0.898  0.470  0.3380      0.2366      0.0744
            1970   0.344   1.546  0.756  0.5214      0.3430      0.1324
...                  ...     ...    ...     ...         ...         ...
Zimbabwe    1995  14.210   2.806  1.798  5.6210      3.7766      1.7522
            2000   7.046   1.312  0.886  6.0296      4.1938      1.7916
            2005   7.164   1.270  0.860  6.6036      4.6322      1.9290
            2010   7.274   1.218  0.824  7.0282      4.9886      1.9990
            2015   1.884  10.802  3.642  7.6924      5.2116      2.1920

                  yr_sch_ter     pop
country     year
Afghanistan 1950      0.0128   893.0
            1955      0.0160   986.2
            1960      0.0208  1093.8
            1965      0.0274  1216.4
            1970      0.0460  1355.2
...                      ...     ...
Zimbabwe    1995      0.0922  1234.4
            2000      0.0440  1362.6
            2005      0.0428  1467.2
            2010      0.0408  1562.8
            2015      0.2888  1508.6

[2044 rows x 15 columns]

In [33]:
poverty_df = pd.read_csv('poverty.csv')
poverty_df

byyear2 = poverty_df.groupby(['country', 'year']).mean()
byyear2

# headcount_ratio_international_povline	 .. 
# % of population living in households with an income or expenditure per person below the International Poverty Line: $1.90 a day (in 2011 prices) or $2.15 a day (in 2017 prices).

C:\Users\seana\AppData\Local\Temp\ipykernel_23872\2745839115.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  byyear2 = poverty_df.groupby(['country', 'year']).mean()

               ppp_version  survey_year  survey_comparability  \
country  year
Albania  1996       2014.0       1996.0                   0.0
         2002       2014.0       2002.0                   1.0
         2005       2014.0       2005.0                   1.0
         2008       2014.0       2008.0                   1.0
         2012       2014.0       2012.0                   1.0
...                    ...          ...                   ...
Zambia   2010       2014.0       2010.0                   4.0
         2015       2014.0       2015.0                   4.0
Zimbabwe 2011       2014.0       2011.0                   0.0
         2017       2014.0       2017.0                   0.0
         2019       2014.0       2019.0                   0.0

               headcount_ratio_international_povline  \
country  year
Albania  1996                               0.727758
         2002                               1.331745
         2005                               0.725806
         2008                               0.256787
         2012                               0.735223
...                                              ...
Zambia   2010                              67.137298
         2015                              60.049066
Zimbabwe 2011                              21.467808
         2017                              34.034959
         2019                              39.643337

               headcount_ratio_lower_mid_income_povline  \
country  year
Albania  1996                                 10.036296
         2002                                 12.760221
         2005                                  8.002495
         2008                                  4.576577
         2012                                  5.493928
...                                                 ...
Zambia   2010                                 81.830191
         2015                                 76.474750
Zimbabwe 2011                                 47.503636
         2017                                 61.276125
         2019                                 64.163730

               headcount_ratio_upper_mid_income_povline  headcount_ratio_100  \
country  year
Albania  1996                                 46.248780             0.057416
         2002                                 50.880300             0.046371
         2005                                 39.486840             0.013810
         2008                                 32.271098             0.000000
         2012                                 35.598329             0.067711
...                                                 ...                  ...
Zambia   2010                                 92.055226            37.516360
         2015                                 89.432328            35.289282
Zimbabwe 2011                                 75.962189             0.961958
         2017                                 82.688542             3.487179
         2019                                 83.896535             9.057739

               headcount_ratio_1000  headcount_ratio_2000  \
country  year
Albania  1996             80.899545             99.167088
         2002             81.021680             97.304463
         2005             74.220108             96.491132
         2008             69.309947             95.841308
         2012             71.066114             96.646391
...                             ...                   ...
Zambia   2010             96.444611             99.056502
         2015             95.359711             98.839605
Zimbabwe 2011             90.053422             97.657785
         2017             93.329309             98.675648
         2019             92.252645             97.771567

               headcount_ratio_3000  ...  decile8_thr  decile9_thr      gini  \
country  year                        ...
Albania  1996             99.904945  ...        9.775       12.050  0.270103
         2002             99.293255  ...        9.745       12.780  0.317390
         2005             99.145911  ...       11.050       14.110  0.305957
         2008             98.762545  ...       11.850       15.030  0.299847
         2012             99.345915  ...       11.610       14.630  0.289605
...                             ...  ...          ...          ...       ...
Zambia   2010             99.642365  ...        3.190        5.210  0.556215
         2015             99.488242  ...        3.920        6.275  0.571361
Zimbabwe 2011             99.089920  ...        6.845        9.955  0.431536
         2017             99.465761  ...        5.630        8.320  0.443371
         2019             98.924014  ...        5.440        8.510  0.502565

                    mld  polarization  palma_ratio  s80_s20_ratio  \
country  year
Albania  1996  0.119104      0.241293     0.928335       3.945872
         2002  0.164812      0.268982     1.215056       4.831625
         2005  0.154413      0.254529     1.142718       4.662236
         2008  0.148893      0.247311     1.114657       4.395911
         2012  0.138417      0.249988     1.041193       4.272573
...                 ...           ...          ...            ...
Zambia   2010  0.539135      0.536149     4.278696      16.024650
         2015  0.604667      0.613181     4.995829      21.243915
Zimbabwe 2011  0.311153      0.388356     2.207938       8.526847
         2017  0.322848      0.416694     2.307359       8.569542
         2019  0.427862      0.463899          NaN            NaN

               p90_p10_ratio  p90_p50_ratio  p50_p10_ratio
country  year
Albania  1996       3.565395       1.888763       1.887688
         2002       3.981144       2.089969       1.904881
         2005       3.871201       1.978908       1.956231
         2008       3.574358       1.957020       1.826429
         2012       3.630497       1.941591       1.869857
...                      ...            ...            ...
Zambia   2010      10.418968       3.946770       2.639856
         2015      14.105410       4.087771       3.450708
Zimbabwe 2011       6.703116       2.777050       2.413763
         2017       6.577229       3.070137       2.142324
         2019       8.182189       3.397034       2.408627

[2242 rows x 104 columns]

In [36]:
safety_df = pd.read_csv('safety.csv')
safety_df

,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,3.095,3.191,3.040,3.021,3.154,3.258,3.212,3.316,3.362,3.412,3.513,3.520,3.592,3.600,3.554
1,Albania,ALB,1.806,1.779,1.770,1.797,1.799,1.816,1.810,1.806,1.761,1.774,1.714,1.712,1.771,1.769,1.761
2,Algeria,DZA,2.306,2.333,2.333,2.479,2.399,2.383,2.293,2.263,2.238,2.206,2.212,2.235,2.234,2.258,2.146
3,Angola,AGO,2.062,2.066,2.006,2.049,2.087,2.089,2.062,1.957,1.974,1.938,1.972,1.955,1.989,2.025,1.982
4,Argentina,ARG,1.818,1.946,1.947,1.909,1.872,2.001,1.905,1.984,1.981,1.936,1.914,1.978,1.948,1.931,1.911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Venezuela,VEN,2.313,2.359,2.364,2.337,2.284,2.256,2.333,2.448,2.515,2.525,2.574,2.673,2.848,2.878,2.798
159,Vietnam,VNM,1.832,1.846,1.870,1.860,1.923,1.871,1.832,1.932,1.871,1.882,1.895,1.895,1.952,1.817,1.786
160,Yemen,YEM,2.407,2.474,2.562,2.565,2.609,2.547,2.611,2.738,2.974,3.112,3.106,3.211,3.259,3.342,3.394
161,Zambia,ZMB,1.843,1.834,1.827,1.730,1.814,1.728,1.810,1.816,1.782,1.773,1.787,1.768,1.788,1.915,1.841
162,Zimbabwe,ZWE,2.376,2.660,2.732,2.660,2.422,2.395,2.260,2.162,2.146,2.165,2.198,2.315,2.302,2.381,2.350